


body {
    background-color: #D8BFD8; /* Lilac background color */
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #800080; /* Purple text color */
}

p {
    font-size: 18px;
    color: #4B0082; /* Indigo text color */
}